@charset "utf-8";

@import url(page.css);
@import url(nav.css);

body{
    background-image: url(../img/manoirpluie.gif);
    background-size: 100%;
}

.indi{
    font-weight: bold;
    font-size: 2.7em;
    text-align: center;
    margin-top: 0.67em;
}


div{
    background-color: rgb(251, 217, 167);
    margin-left: 5%;
    margin-right: 5%;
}

div p{
    margin: 1em;
}

p::first-letter{
    font-size: 1.6em;
}