@charset "utf-8";

@import url(nav.css);

.nav{
    padding-top: 1.3%;
}

h1{
    text-align: center;
    font-size: 2.7em;
}

div{
    border: 3px solid black;
    margin-top: 9%;
    display:inline-block;
    background-color: rgb(251, 217, 167);
}

div p{
    margin: 1em;
}

body{
    background-image: url(../img/background-indi.jpg);
    background-size: 100%;
}