@charset "utf-8";

@import url(nav.css);

img {
    height: auto;
    width: 80%;
    display: block;
    margin: auto;
    border: 2px solid black;
}

.nav{
    padding-top: 1.3%;
}

body{
    background-image: url(../img/background-feuille.jpg);
    background-size: 100%;
}